input.chakra-input.css-1qpq6db.pac-target-input {
  border: 1px solid;
}
input.chakra-input.css-1qpq6db.pac-target-input {
  border: 1px solid;
}   

header#chakra-modal--header-\:r9\: {
  text-align: center !important;
  text-transform: capitalize;
  font-size: xx-large;
}

input.chakra-input.css-1cjy4zv {
  border: 1px solid;
}
.distance {
  font-weight: 700;
}

.text-center{
  text-align: center !important;
}

.table-container table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
  
.table-container th,.table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;font-weight: 600;
}
  
.table-container th {
  background-color: #000000;
  color: aliceblue;
}
  
.table-container tr:nth-child(even) {
  background-color: #f9f9f9;
}
.css-1u3fsso{
  width: auto !important;
}
.form-input.focussed {
  border-color: red !important;
}
.form-input.focussed:focus-visible {
  box-shadow: 0 0 0 1px red !important;
}