table {
    width: -webkit-fill-available;
}
th {
    border: 2px solid;
    text-align: center;
}
table tr td {
    text-align: center;
}
/* table.css */
/* td {
  width: 350px;
} */
td.data {
  width: 475px;
}
.table-container {
    margin: 20px;
  }
  .address-list {
    list-style-type: none;
    padding: 0;
  }
  
  .address-list li {
    margin-bottom: 10px;
  }
  
  .address {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .distance-duration {
    display: flex;
    justify-content: space-between;
  }
  
  .distance {
    font-size: 18px;
    font-weight: bold;
  }
  
  .duration {
    font-size: 14px;
    font-style: italic;
  }
  
  .table-container table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-container th,.table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;font-weight: 600;
  }
  
  .table-container th {
    background-color: #000000;
    color: aliceblue;
  }
  
  .table-container tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .css-1u3fsso{
    width: auto !important;
  }
/* loader */
header#chakra-modal--header-\:r3\: {
  text-align: center;
}
